:root {
    --primary-color: #8b5cf6;
    --grey-color: #787676;
}

body {
    margin: 0px;
}

/* comon css*/
.waiting-status {
    background-color: #fcf3c2;
    color: #5c4b20;
}

.accepted-status {
    background-color: #98a8f9;
    color: #1022e6;
}

.delivery-status {
    background-color: #dda2f1;
    color: #880693;
}

.done-status {
    background-color: #aaeeb9;
    color: #017813;
}

.cancel-status {
    background-color: #efaeb9;
    color: #920404;
}

.search-element {
    margin: 0 5px;
    width: calc(25% - 10px);
    border-radius: 8px;
    padding: 10px 15px;
}

.radius-8 {
    border-radius: 8px;
}
/*-------------------*/

.wrapper {
    width: 100%; 
    background-color: #f7f7f7;
    display: flex;
}

.left-bar {
    width: 20%;
    background-color: var(--primary-color);
    display: inline-block;
}

.content {
    width: 80%;
    display: inline-block;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 60px;
    background-color: white;
    box-sizing: border-box;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header .account {
    display: inline-block;
}

.header .notification {
    display: inline-block;
    padding: 0px 10px;
}

.orders {
    box-sizing: border-box;
    padding: 20px;
}

.orders .title {
    
}

.orders .title h1 {
    margin: 0px;
}

.orders .search-bar {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}

.search-bar form {
    display: flex;
    flex-wrap: wrap; 
}

.search-bar span {
    margin: 20px 5px;
}

.search-bar .input-search {
    border: 1px var(--grey-color) solid;
}

.search-bar .input-date {
    margin: 20px 5px;
}

.search-bar .search-btn {
    color: white;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: none;
}

.orders .order-list {
    margin: 10px 0px;
}

.order-list .order-item {
    margin: 40px 0px;
}

.order-item .order-header {
    position: relative;
    margin: 10px 0px;
}

.header-value {
    font-weight: 1000;
}

.order-header .order-header-item {
    box-sizing: border-box;
    padding: 0px 20px;
    display: inline-block;
}

.order-header .order-address {
    border-left: 1px grey solid;
}

.order-header .order-date {
    border-left: 1px grey solid;
}

.order-header .order-status {
    position: absolute;
    font-size: 12px;
    font-weight: 1000;
    border-radius: 8px;
    padding: 10px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.order-item .wrapper-order-content {
    background-color: white;
    border-radius: 8px;
}

.order-item .order-content {
    box-sizing: border-box;
    padding: 20px 20px;
    display: flex;
}

.info-label {
    color: #787676;
}

.info-value {
    color: #000000;
}

.order-content .customer-info {
    width: 50%;
}

.order-content .order-info {
    width: 50%;
}

.info-line {
    padding: 5px;
}

.total-price {
    color: red;
}

.status-update-section {
    margin-top: 16px;
}

.status-update-section label {
    font-weight: 1000;
    color: #212529;
}

.status-update-form .status-select {
    margin: 5px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    width: 75%;
    background-color: #eaf6ff;
    border: 1px solid #eaf6ff;
}

.status-update-form .update-btn {
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

.status-update-form .update-btn:hover {
    color: var(--primary-color);
    background-color: white;
    border: 2px solid var(--primary-color);
}

.wrapper-order-content .order-footer {
    box-sizing: border-box;
    padding: 20px;
}

.order-footer .detail-bnt {
    padding: 10px 20px;
    background-color: white;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
}

.order-footer .detail-bnt:hover {
    color: white;
    background-color: var(--primary-color);
}