#loginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    margin: 0;
    padding: 40px;
}
#login-card{
    width: 100%;
    max-width:550px;
    background-color: white;
    padding: 20px;
    border-radius : 24px;
    box-sizing: border-box;
}
#div-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.title{
    font-size: 36px;
    font-weight: 700;
    color: black;
    margin-bottom: 4px;
}
.subtitle{
    font-size: 18px;
    color: black;
    margin-top: 0;
    margin-bottom: 40px;
}
.logo-header{
    width: 80px;
    height: 80px;
    /* Dùng Object để hình ko bị méo  */
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid black;
    padding: 5px;
}
.form-group-login{
    margin-bottom: 20px;
}
/* Sử dụng block thây inline vì xuống dòng */
.form-group-login label{
    display: block;
    font-size: 18px;
    font-weight:400;
    color: black;
    margin: 5px;
}
.input-field{
    width: 100%;
    padding: 16px 20px 16px 50px;
    border-radius: 12px;
    border:2px solid black;
    transition: border-color 0.3s ease-in-out , box-shadow 0,15s ease-in-out;
    box-sizing: border-box;
}
/* Tạo Hệu ứng khi người dùng nhập vào  */
.input-field:focus{
    outline: none;
    border-color: blueviolet;
    box-shadow: 0 0 0 3px rgba(158, 77, 235, 0.3);
}
.input-wrapper {
    position: relative;
}
.input-icon{
    position: absolute;
    top:50%;
    left: 12px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: #9ca3af;
}
.checkbox-group{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.checkbox-group input[type ="checkbox"]{
    width: 16px;
    height: 16px;
    accent-color: blueviolet;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}
.checkbox-group label{
    margin-left: 8px;
    font-size: 18px;
    color: black;
}
.login-button{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 12px 0;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(107, 37, 242, 0.4); 
    font-size: 30px;
    font-weight: 600;
    color: white;
    background-color: blueviolet;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    cursor: pointer;
}
.login-button:hover{
    background-color: blue;
    box-shadow: 0 6px 15px rgba(93, 37, 160, 0.5); 
}
.warning-box {
    margin-top: 35px;
    padding: 35px 32px;
    font-size: 18px;
    border-radius: 14px;
    background-color: rgb(245, 205, 205);
    display: flex;
    align-items: flex-start;
}
.warning-icon{
    width: 30px;
    height: 30px;
    margin-right: 8px;
    flex-shrink: 0;
}
 #message {
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    display: none;
    animation: slideDown 0.3s ease-out;
}
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#adminPage{
    display: none;
}
